---
import type { CollectionEntry } from "astro:content";
import ArrowCard from "./ArrowCard.astro";

type Props = {
	entries: CollectionEntry<"blog">[];
	collection?: string;
};

const { entries, collection } = Astro.props;
---

<ul class="flex flex-col gap-4">
	{
		entries.map((entry) => (
			<li class="animate">
				<ArrowCard entry={entry} collection={collection} />
			</li>
		))
	}
</ul>
